{% extends 'base.html.twig' %}
{% block body %}
<style>
body {
    height: 105%;
}
</style>
<div class="login-box">

Formations disponibles : <br>
<form> <a href="{{path('app_affInscriptionId')}}">Voir vos Formations </a></form><br><br>

{% for formation in ensFormation %}
   {# {% if formation.datedebut|date("Y/m/d") >= ""|date("Y/m/d") %} #}
         <b> Sujet de la formation : </b> {{formation.leProduit.libelle}}</br>
         <b>Date de la formation :</b> {{ formation.dateDebut|date("d/m/Y") }}</br>
         <b>Durée de la formation :</b> {{formation.nbreHeures}} heures </br>
         <b>Le département : </b> {{formation.departement}}</br>
         <b>Description : </b> {{formation.description}}</br>
         <form>
        <a href="{{path('app_inscription_attente', {'id':formation.id})}}">S'inscrire</a><br><br>
        </form>
    {#{% endif %}#}
{% endfor %}
</div>
{% endblock %}
